<div class="subscription-option-header>
<input type="radio" name="purchase_option" id="subscribe" checked>
<h3>Subscribe & Save </h3>
<div class="discount-badge>
<span>30%off</span>
<span class="price">{{ product.price }}</span>
    {% if product.compare_at_price > product.price %}
      <span class="compare-price">{{ product.compare_at_price }}</span>
    {% endif %}
    </div>