<div class = "subscription-box">
  <div class = "subscription-start">
  <h3> Subscribe & Save </h3>
  <div class="discount-box">
  <span>30% off </span>
    <span class="price">{{ product.price }}</span>
    {% if product.compare_at_price > product.price %}
      <span class="compare-price">{{ product.compare_at_price }}</span>
    {% endif %}
  </div>
      </div>
  <ul class = "feature-list">
    <img src = "" >
    <p>Save 30% now and 15% on repeat deliveries</p>
  </ul>
</div>