<ul class="subscription-benefits">
<li> 
    <img src = "{{'Group 143373.png' | asset_url}}" >
    <p>Save 30% now and 15% on repeat deliveries</p>
    </li>
    <li>
        <img src = "{{'Group 143373.png' | asset_url}}" >
      <p> Cancel, skip & change anytime </p> 
    </li>
    <li>
        <img src = "{{'Group 143373.png' | asset_url}}" >
        <p> Free shipping on every order </p>
    </li>
    <li>
        <img src = "{{'Group 143373.png' | asset_url}}"  >
        <p> Satisfaction guaranteed </p>
    </li>
</ul>