.content-with-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
}
.left-content-column {
  width: 40%;
  padding: 0px 15px;
}
.left-content-column h2 {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 10px;
}
.left-content-column p {
  font-size: 16px;
  line-height: 1.4;
  color: #444;
}
.left-column-image img {
  max-width: 200px;
  max-height: 168px;
  object-fit: cover;
  object-position: center;
}
.left-content-column a {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 16px;
  background-color: #3e6d3d;
  color: white;
  text-decoration: none;
  border-radius: 18px;
  font-weight: bold;
}
.right-video-column {
  width: 60%;
  max-width: 780px;
  max-height: 100%;
  padding: 0px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  overflow: hidden;
}
.right-video-column video {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .content-with-image {
    flex-direction: column;
    padding: 20px 16px;
    text-align: center;
    overflow:hidden;
  }

  .left-content-column,
  .right-video-column {
    width: 100%;
    padding: 10px 0;
  }

  .left-column-image img {
    margin: 0 auto;
    display: block;
    max-width: 160px;
  }

  .left-content-column h2 {
    font-size: 28px;
    display: webkitbox;
    webkit-line-clamp: 2;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .left-content-column p {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
    padding: 0 12px;
  }

  .left-content-column a {
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 25px;
    background-color: #3e6d3d;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .right-video-column video {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
