.modus-life-section{
  margin:30px 0px;
}
.modus-heading h2{
  font-size:50px;
  font-weight:700px;
  letter-spacing: 1.5%;
}

.flex-columns{
  display:flex;
  align-items: center;
  gap:102px;
}

.block-right-column-card{
  background-color: #C9C9C9;
}