.modus-life-section{
  margin:30px 0px;
}
.modus-heading h2{
  font-size:50px;
  font-weight:700px;
  letter-spacing: 1.5%;
}

.flex-columns{
  display:flex;
  align-items: center;
  gap:102px;
}

.block-right-column-card{
  max-width:540.1px;
  border-radius:12px;
  border: 1px solid 
  background-color: #C9C9C9;
}
.card-background{
  padding: 15..25px 27.62px  138.74px 27.62px
  background-color: white;
}