.process-wrapper{
  display:flex;
  overflow: hidden;
  width: 100%;
  margin:30px 0px;
  padding: 0px 40px;
}
.myprocessSwiper{
  width:100%;
overflow:hidden;
  position:relative;
                }
.myprocessSwiper .swiper-wrapper{
  display:flex;
  gap:20px;
}
.myprocessSwiper .swiper-slide{
  display:flex;
  width:21%;
  flex-basis:0;
}
.slide-card{
  background-color: rgba(255, 255, 255, 0.98);
  position: relative;
  max-width:307px;
}
.video-wrapper{
  max-width:308px;
  position:relative;
}
.video-wrapper video{
  width:100%;
   max-width:308px;
}
.social-play-button{
  background:none;
  border:none;
  cursor:pointer;
  position:absolute;
  top:70%;
  right:5%;
}
.social-play-button svg {
  width: 30px;
  height: 30px;
}
.process-wrapper .slide-content{
  width: 295px;
    padding:16px;
  font-weight: lighter;
}
.process-wrapper .slide-content h2{
  font-size:20px;
  font-weight: 200;
letter-spacing: 0;
    padding-right: 5px;
  color: #333333;
  text-transform: uppercase;
   font-family: var(--body-font) !important;
  
}
.process-wrapper .slide-content p{
  font-size: 16px;
  font-weight: normal;
   color: #333333;
  padding-right: 10px;
   font-family: var(--heading-font) !important;
}
@media (min-width: 1400px) {
 .process-wrapper {
    justify-content: center; 
  }
  .myprocessSwiper .swiper-wrapper{
  display:flex;
    justify-content: center;
 
}
}
@media (max-width: 767px) {
  .process-wrapper{
    padding: 24px;
  }
  .slide-card{
    overflow: hidden;
  }
  .process-wrapper .slide-content{
    width: 260px;
  }
.process-wrapper   .slide-content h2{
    font-size:16px;
  }
  .myprocessSwiper .swiper-wrapper{
  display:flex;
  gap: 0px;
}
 .process-wrapper   .slide-content p{
      font-size:14px;
   }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .process-wrapper{
    padding: 24px;
  }
  .slide-card{
    overflow: hidden;
  }
  .process-wrapper .slide-content{
    max-width: 250px;
  }
.process-wrapper   .slide-content h2{
    font-size:16px;
  }
  .myprocessSwiper .swiper-wrapper{
  display:flex;
  gap: 20px;
}
 .process-wrapper   .slide-content p{
      font-size:14px;
   }
}