.blocks-container{
      max-width: 1200px;
  background-color: #F3F3F3;
  margin: 0 auto;
  display:flex;
    gap: 16.4px;
  align-items: center;
}
.article-card{
  width: 33.33%;
  border-radius: 18px;
  max-width: 353.25px;
  height: 437.89px;
  position: relative;
  z-index:0;

}
.article-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.learn-button{
  position: absolute;
  top:3%;
  left:3%;
  z-index: 1;
  border-radius: 100px;
  color: #000000;
  padding: 10px 24px 10px 23px;
  background-color: #D4F897;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.card-title{
  font-size: 25px;
  font-weight: 700;
  color:white;
  position:absolute;
  z-index:1;
  bottom:10%;
  left:3%;
  line-height: 2.7;

}
.read-button{
  position:absolute;
  bottom:3%;
  left:3%;
  padding: 10px 24px;
  font-size:18px;
  color: #000000;
  background-color: #D4F897;
   font-weight: 600;
  text-decoration: none;
  border-radius: 29px;
}