.blocks-container{
      max-width: 1200px;
  background-color: #F3F3F3;
  margin: 0 auto;
  display:flex;
    gap: 16.4px;
  align-items: center;
}
.article-card{
  width: 33.33%;
  border-radius: 18px;
  max-width: 353.25px;
  height: 437.89px;
  position: relative;
  z-index:0;

}
.learn-button{
  padding: 10px 24px;
  background-color: #D4F897;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}